{% extends 'base_store.html' %}
{% load static %}

{% block title %}
    Detail Deal
{% endblock %}

{% block content %}
      <!-- .app-main -->
      <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">

            <!-- .page-navs -->
                <nav class="page-navs">
                {% if objetdeal %}
                            {% for o in objetdeal %}
                              <div class="nav-scroller">
                                  {% with url_name=request.resolver_match.url_name %}
                                <div class="nav nav-center nav-tabs">

                                  <a class="nav-link {% if url_name == 'list_deal' %} active {% endif %}" href="{% url 'store:list_deal' %}">List Request</a>
                                  <a class="nav-link {% if url_name == 'objetdeal_detail' %} active {% endif %}" href="{% url 'store:objetdeal_detail' o.imei %}">Detail Deal</a>

                                </div><!-- /.nav -->
                                {% endwith %}
                              </div><!-- /.nav-scroller -->
                </nav><!-- /.page-navs -->


                    <div class="card-body">

                     <header class="page-title-bar">
                <!-- .breadcrumb -->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                      <a href="{% url 'store:shop' %}"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Shop</a>
                    </li>
                  </ol>
                </nav><!-- /.breadcrumb -->
                <!-- title -->
                <h2 class="page-title">Detail - {{ o.nom }} {{ '' }} {{ o.model }}</h2>
                <p class="text-muted"> </p><!-- /title -->
              </header><!-- /.page-title-bar -->

                <!-- .card -->
                <div class="card card-fluid">
                  <div class="card-body p-sm-5">

                    <p> {{ o.description|safe }} </p>
                    <figure>
                        {% if o.obj_img %}
                      <img class="img-thumbnail img-fluid" style="max-height: 300px; margin: 5px;" src="{{ o.obj_img.url }}" alt="{{ o.nom }}">
                        {% endif %}
                        {% if o.obj_img_1 %}
                      <img class="img-thumbnail img-fluid" style="max-height: 300px; margin: 5px;" src="{{ o.obj_img_1.url }}" alt="{{ o.nom }}">
                        {% endif %}
                        {% if o.obj_img_2 %}
                      <img class="img-thumbnail img-fluid" style="max-height: 300px; margin: 5px;" src="{{ o.obj_img_2.url }}" alt="{{ o.nom }}">
                        {% endif %}
                      <figcaption>  </figcaption>
                    </figure>
                    <p>
                              <a href="{% url 'store:update_objetdeal' o.imei %}" class="btn btn-primary circle">
                                  Modifier
                              </a>

                              <a href="{% url 'store:delete_objetdeal' o.imei %}" class="btn btn-warning circle">
                                  Supprimer
                              </a>
                          </p>
                  </div>
                </div><!-- /.card -->

                   </div>
                {% endfor %}
             {% else %}
                  <p class="text-muted">Objetdeal unavailable :-)</p>
              {% endif %}


          </div>
        </div><!-- .app-footer -->


        <footer class="app-footer">

          <div class="copyright"> Copyright © 2022. All right reserved. </div>
        </footer>
        <!-- /.wrapper -->
      </main><!-- /.app-main -->

{% endblock %}


{% block js %}
    <script>
         $(document).ready(function() {
    var t= $('#table_id').DataTable( {
        language: {
            url: '{% static 'json/dataTables.french.json' %}'
        },
         ordering : false,
          fixedHeader: {
              header: true,
              footer: true
          },
          "scrollX": true,

        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );

   t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
    </script>
    <script src="{% static 'assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>

    <!-- BEGIN PAGE LEVEL JS -->
    <script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
{% endblock %}
